@import '../../sass/abstracts/placeholders';

.home-container {
  margin: 5px 5px 5px 5px;
  display: flex;
  flex-direction: column;

  p {
    margin: 0px;
  }

  .future-status {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
  }

  .future-status__item:hover {
    @include container-selection();
  }

  .future-status__item {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 10px 0;
    cursor: pointer;
    * {
      cursor: pointer;
    }

    .item {
      margin-top: 2px;
      margin-bottom: 2px;
    }

    .ico {
      height: 50px;
      width: 50px;
      margin: 0px;
    }

    .item:first-child {
      margin-top: 0px;
    }
    .item:last-child {
      margin-bottom: 0px;
    }
  }
}
