.home-container {
  margin: 5px 5px 5px 5px;
  display: flex;
  flex-direction: column;

  p {
    margin: 0px;
  }

  .current-status {
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  .current-status__weather-ico {
    align-self: center;
    width: 100px;
    height: 100px;
  }

  .current-status__temp-info {
    display: flex;
    flex-direction: row;
    align-items: center;

    p.temp {
      font-size: 16px;
      font-weight: 800;
    }

    p.oth-det {
      margin-left: 10px;
      font-size: 1em;
    }
  }

  .current-status__misc-info {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    align-items: center;
    p {
      font-size: 10px;
    }
    i {
      font-size: 14px;
    }
    .loc {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }
    div {
      margin-top: 2px;
      margin-bottom: 2px;
    }
    :first-child {
      margin-top: 0px;
    }
    :last-child {
      margin-bottom: 0px;
    }
  }

  .future-status {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
  }

  .future-status__item:hover {
    -moz-box-shadow: inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow: inset 0 0 5px #000000;
    border-radius: 10px;
  }

  .future-status__item {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 10px 0;
    cursor: pointer;
    * {
      cursor: pointer;
    }

    .item {
      margin-top: 2px;
      margin-bottom: 2px;
    }

    .ico {
      height: 50px;
      width: 50px;
      margin: 0px;
    }

    .item:first-child {
      margin-top: 0px;
    }
    .item:last-child {
      margin-bottom: 0px;
    }
  }
}
